.header{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border: 1px solid black;
}

a{
    text-decoration: none;
    font-family: 'Exo', sans-serif;
}

.logo{
    font-size: xx-large;
    color: var(--primary-color);
    font-weight: 700;
}

.links-wrapper{
    display: flex;
    flex-direction: row;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.3rem;
    height: 44px;
    margin: 0 .6rem;
    color: var(--secondary-color);
    border-radius: .4rem;
}

.links.active{
    font-weight: 600;
    background-color: var(--primary-color);
    cursor: default;
    transition: filter .3s;
}

.links.active:hover{
    filter: brightness(1.1);
}

.links:not(.active){
    color: var(--primary-color);
    font-weight: 500;
    background: linear-gradient(var(--elementary-color), var(--elementary-color)) center/0% 100% no-repeat;
    transition: all .3s;
}

.links:not(.active):hover{
    background-size: 100% 100%;
    color: var(--primary-color);
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: var(--primary-color);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: all ease .3s;
    cursor: pointer;
}

.icon:hover{
    background-color: var(--elementary-color);
}

.container.light .icon i:first-child{
    display: block;
}

.container.light .icon i:last-child{
    display: none;
}

.container.dark .icon i:first-child{
    display: none;
}

.container.dark .icon i:last-child{
    display: block;
}