.letters--about {
    opacity: 0;
    cursor: default;
    font-family: "Supera Gothic ExtraBold", sans-serif;
    font-size: 1.8rem;
    line-height: 7px;
    text-align: left;
    transition: all ease-in-out 0.4s;
}

.letters--about--movement {
    margin-left: 10vw;
    font-family: "Supera Gothic ExtraBold", sans-serif;
    font-size: 1.8rem;
    line-height: 7px;
    text-align: left;
    transition: all ease-in-out 0.6s;
    transition-delay: 2.1s;
}

.letters--white {
    color: white;
}

@media only screen and (max-width: 1900px) {
    .letters--about, .letters--about--movement {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 1601px) and (max-width: 1680px) {
    .letters--about, .letters--about--movement {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 1600px) {
    .letters--about, .letters--about--movement {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 1280px) {
    .letters--about, .letters--about--movement {
        font-size: 1.2rem;
    }
}