@font-face {
    font-family: 'SuperaGothic-UltraBlack';
    src: url('fonts/SuperaGothic-UltraBlack.otf');
}
.rectangle{
    display: flex;
    position: relative;
    margin: 50px;
    width: 47.5vw;
    height: 90vh;
    background-color: #bc4b51;
    transition: ease-in-out 0.8s;
    transition-delay: 0.12s;
}
.white--margin{
    z-index: 999;
    width: 3vw;
    height: 90vh;
    background-color: #F0F8EA;
    position: absolute;
    left: 96.5vw;

}
.rectangle--movement{
    position: relative;
    margin: 50px;
    width: 94vw;
    height: 90vh;
    background-color: #bc4b51;
    transition: ease-in-out 0.8s;
    transition-delay: 0.12s;
}
.letters--apresentation{
    position: absolute;
    left: 49%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: ease-in-out 0.8s;
    transition-delay: 0.12s;

}
.letters--apresentation--movement{
    position: absolute;
    left: 95%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: ease-in-out 0.8s;
    transition-delay: 0.12s;
}
.letters--style{
    line-height: 5px;
    text-align: left;
    font-size: 15rem;
    font-family: "SuperaGothic-UltraBlack";
    color: #212020;;
}
.letters--scroll{
    opacity: 1;
    font-family: 'Supera Gothic', 'Arial';
    font-size: 0.8rem;
    position: absolute;
    left: 1.5vw;
    top: 79vh;
    transform: rotate(270deg) translate(-50%,-50%);
    color: white;
    transition: all ease-in-out 0.5s;
}
.letters--scroll--disable{
    opacity: 0;
    font-family: 'Supera Gothic', 'Arial';
    font-size: 0.8rem;
    position: absolute;
    left: 6vw;
    top: 79vh;
    transform: rotate(270deg) translate(-50%,-50%);
    color: white;
    transition: all ease-in-out 0.3s;
}
.link{
    opacity: 1;
    color: white;
    position: absolute;
    left: 1.5vw;
    top: 84.5vh;
    transform: translate(-50%, -50%);
}
.disable--arrow{
    opacity: 0;
    color: white;
    position: absolute;
    left: 1.5vw;
    top: 84.5vh;
    transform: translate(-50%, -50%);
}
@-webkit-keyframes hang-on-hover {
    0% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    50% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
}
@keyframes hang-on-hover {
    0% {
        -webkit-transform: translateY(8px);
        transform: translateY(10px);
    }
    50% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(12px);
    }
}
@-webkit-keyframes hang-on-hover-sink {
    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(12px);
    }
}
@keyframes hang-on-hover-sink {
    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(12px);
    }
}
.hang-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hang-on-hover, .hang-on-hover:focus, .hang-on-hover:active {
    -webkit-animation-name: hang-on-hover-sink, hang-on-hover;
    animation-name: hang-on-hover-sink, hang-on-hover;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

.letters--about{
    opacity: 0 ;
    font-family: "Supera Gothic ExtraBold", 'Arial';
    font-size: 1.8rem;
    line-height: 7px;
    position: absolute;
    left: 30vw;
    top: 32vh;
    transform: translate(-50%,-50%);
    transition: all ease 0.3s;
    transition-delay: 0.1s;
    color: #212020;
    text-align: left;
}
.letters--white{
    color: white;
}
.letters--about--movement{
    opacity: 1;
    font-family: "Supera Gothic ExtraBold", 'Arial';
    font-size: 1.8rem;
    line-height: 7px;
    position: absolute;
    left: 30vw;
    top: 37vh;
    transform: translate(-50%,-50%);
    transition: all ease 0.7s;
    transition-delay: 1s;
    text-align: left;
}
.content--about{
    opacity: 0;
    display: flex;
    position: absolute;
    width: 34.8rem;
    left: 24vw;
    top: 49vh;
    transform: translate(-50%,-50%);
    font-family: "Supera Gothic", 'Arial';
    font-size: 1.1rem;
    line-height: 1px;
    text-align: left;
    margin-top: 7px;
    transition: all ease-in-out 0.5s;
}
.content--about--movement{
    display: flex;
    position: absolute;
    width: 34.8rem;
    left: 30vw;
    top: 49vh;
    transform: translate(-50%,-50%);
    font-family: "Supera Gothic", 'Arial';
    font-size: 1.1rem;
    line-height: 1px;
    text-align: left;
    margin-top: 7px;
    transition: all ease-in-out 1s;
    transition-delay: 1.1s;
}
.info--netflix--white{
    color: white;
}
.info--netflix{
    padding-left: 5px;
}
