.container{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--backgroundColor);
    display: flex;
    justify-content: center;
    font-family: 'Exo', sans-serif;
    padding: 0 3rem 0 3rem;
}

.wrapper{
    width: 100%;
    max-width: 1200px;
}