.squish{
    line-height: 5px;
    text-align: left;
    font-size: 15rem;
    font-family: "SuperaGothic-UltraBlack", sans-serif;
    color: #212020;
    transition: all ease 0.2s;
}
.squish:hover{
    transform: scaleY(0.8);
    transition: all ease 0.5s;
}
.hvr-wobble-vertical{
    line-height: 5px;
    text-align: left;
    font-size: 15rem;
    font-family: "SuperaGothic-UltraBlack", sans-serif;
    color: #212020;
    transition: all ease 0.5s;

    -webkit-animation-name: hvr-wobble-vertical;
    animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 0.7s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.movement{
    margin-top: 0;
    line-height: 50px;
    text-align: left;
    font-size: 15rem;
    font-family: "SuperaGothic-UltraBlack", sans-serif;
    color: #212020;;
    transition: all ease 0.9s;
}
.together{
    display: inline-block;
    margin-top: 0;
}
@-webkit-keyframes hvr-wobble-vertical {
    16.65% {
        -webkit-transform: translateY(8px) scaleY(0.8);
        transform: translateY(8px);
    }
    33.3% {
        -webkit-transform: translateY(-6px) scaleY(0.7);
        transform: translateY(-6px);
    }
    49.95% {
        -webkit-transform: translateY(4px) scaleY(0.7);
        transform: translateY(4px);
    }
    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes hvr-wobble-vertical {
    16.65% {
        -webkit-transform: translateY(8px) scaleY(0.8);
        transform: translateY(8px);
    }
    33.3% {
        -webkit-transform: translateY(-6px) scaleY(0.7);
        transform: translateY(-6px);
    }
    49.95% {
        -webkit-transform: translateY(4px) scaleY(0.7);
        transform: translateY(4px);
    }
    66.6% {
        -webkit-transform: translateY(-2px) scaleY(0.7);
        transform: translateY(-2px);
    }
    83.25% {
        -webkit-transform: translateY(1px) scaleY(0.7);
        transform: translateY(1px);
    }
    100% {
        -webkit-transform: translateY(0) scaleY(0.7);
        transform: translateY(0) ;
    }
}

