.squish{
    line-height: 5px;
    text-align: left;
    font-size: 15rem;
    font-family: "SuperaGothic-UltraBlack", sans-serif;
    color: #212020;
    transition: all ease 0.2s;
}
.squish:hover{
    -webkit-transform: scaleY(0.8);
    transform: scale(1,.85);
    transition: ease-in-out 0.2s;
}
.hvr-wobble-vertical{
    line-height: 5px;
    text-align: left;
    font-size: 15rem;
    font-family: "SuperaGothic-UltraBlack", sans-serif;
    color: #212020;
    transition: all ease 0.5s;
    animation-name: bounce-out;
    animation-timing-function: ease;
    animation-duration: 0.5s;
   
}
@keyframes bounce-out{
    0% {
        -webkit-transform: scale(1,.85);
        transform: scale(1,.85);
    }
    
    50% {
        -webkit-transform: scale(.85,1.15);
        transform: scale(.85,1.15);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.movement{
    margin-top: 0;
    line-height: 50px;
    text-align: left;
    font-size: 15rem;
    font-family: "SuperaGothic-UltraBlack", sans-serif;
    color: #212020;;
    transition: all ease 0.9s;
}
.together{
    display: inline-block;
    margin-top: 0;
}
@media screen and (max-width: 1680px){
    .hvr-wobble-vertical, .squish, .movement{
        font-size: 13rem;
    }
}
@media only screen and (max-width: 1600px){
    .hvr-wobble-vertical, .squish, .movement{
        font-size: 13rem;
    }
}
@media only screen and (max-width: 1366px){
    .hvr-wobble-vertical, .squish, .movement{
        font-size: 11rem;
    }
}
@media only screen and (max-width: 1200px){
    .hvr-wobble-vertical, .squish, .movement{
        font-size: 9rem;
    }
}
