@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap');

html, body{
    overflow-x: hidden;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light{
    --backgroundColor: #f6f6f6;
    --backdropColor: rgba(245, 245, 245, 0.8);
    --primary-color: #282828;
    --primary-color-darker: #363636;
    --elementary-color: #cacaca34;
    --line-color: #CFCFCF;
    --secondary-color: #EDEDED;
}

.dark{
    --backgroundColor: #111111;
    --backdropColor: rgba(20, 20, 20, 0.8);
    --primary-color: #EDEDED;
    --primary-color-darker: #d6d6d6;
    --elementary-color: #1f1f1f;
    --line-color: #515151;
    --secondary-color: #111111;
}
