@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light{
    --backgroundColor: #f6f6f6;
    --primary-color: #282828;
    --elementary-color: #f0f0f0;
    --line-color: #CFCFCF;
    --secondary-color: #EDEDED;
}

.dark{
    --backgroundColor: #131313;
    --primary-color: #EDEDED;
    --elementary-color: #1f1f1f;
    --line-color: #515151;
    --secondary-color: #111111;
}
